body {
    background-image: url("https://wallpaper.forfun.com/fetch/18/18a109fdec6a08f5b9ef10850a5a6fea.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin: 200px 600px ;
}

.search_button:hover {
    background-color: aqua;

}

.search_button {
    align-items: center;
    margin: 10px 44px;
}




